a[href^="tel:"] {
  color: var(--white, #FFF) !important;
}
.fa, .fas, .far, .fab {
  color: var(--white, #FFF) !important;
}

.footer {
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 454px;
    flex-shrink: 0;
    padding: 2rem;
    background: var(--dark-gray, #1f1f1f);
    color: var(--white, #FFFFFF);
    
}

/* ok */
.footer-header {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente ao centro */
    gap: 10px; /* Espaço entre o logo e o título */
    margin-bottom: 1.5rem; /* Espaço abaixo do conjunto logo+título */
    align-self: flex-start; /* Alinha o conjunto à esquerda */
 
}
/* ok */
.footer-logo {
    width: 33px;
    height: 33px;
    /* padding: 0px;
    margin-left: 20px;
    margin-top: 40px; */
    
}
/* ok */
.footer-title {
    margin-top: 40px;
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 36.395px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.364px;
    
}
/* ok */
.footer-description {
    width: 307px;
    margin-top: 10px;
    margin-left: 20px;
    color: var(--white, #FFFFFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    
}

/* ok */
.footer-info {
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 45%;
    margin-top: 30px;
    color: var(--white, #FFFFFF);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}
/* ok */
.footer-info-title {
    margin-bottom: 25px;
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;

}
/* ok */
.footer-info-list {
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 237.5% */
    
}
/* ok */
.footer-a {
    padding: 10;
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 237.5% */
} 
/* ok */
.footer-categories-title {
    margin-bottom: 25px;
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}
/* ok */
.footer-categories {
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 62%;
    margin-top: 30px;
    color: var(--white, #FFFFFF);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
   
}

.footer-categories-list {
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 237.5% */
}

.footer-c {
  
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 237.5% */
}


.footer-address-title {
    margin-bottom: 35px;
    
}

.footer-address {
    width: 210px;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 78%;
    margin-top: 30px;
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */

}	

.p-address {
    margin-top: 30px;
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.footer-phone {
    max-width: 231px;
    max-height: 100px;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 78%;
    margin: 100px 0 0 0;
    padding-top: 85px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    
}

.footer-phone:hover {
    margin-bottom: 35px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


/* ok */
.footer-line {
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens */
    justify-content: center; /* Centraliza horizontalmente os itens */
    width: 1240px;
    height: 1px;
    margin-bottom: 20px;
    margin-top: 90px;
    margin-left: auto; /* Adicione esta linha */
    margin-right: auto; /* Adicione esta linha */
    padding: 0;
    flex-shrink: 0;
    fill: var(--white, #FFF);
    opacity: 0.3;
}


.footer-social-icon {
    display: inline-block;
    margin-left: 65px;
    padding-top: 26px;
    height: 20.534px;

}
.footer-social-icon:last-child {
    margin-right: 0;
}
/* ok */
.footer-copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 70px; */
    color: var(--white, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 184.615% */
} 
@media only screen and (max-width: 1024px) {
  .footer {
    padding: 2rem !important;
  }
  
  .footer-content {
    justify-content: space-around !important;
  }
}

@media only screen and (max-width: 768px) {
  .footer-header {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  
  .footer-logo {
    margin-bottom: 0.5rem !important;
  }
  
  .footer-info, .footer-categories, .footer-address-container {
    min-width: 45% !important;
    flex: 0 0 45% !important;
  }
  
  .footer-content {
    flex-wrap: wrap !important;
  }
}

@media only screen and (max-width: 576px) {
  .footer {
    padding: 2rem 1rem !important;
  }
  
  .footer-title {
    font-size: 24px !important;
  }
  
  .footer-description {
    margin-bottom: 1.5rem !important;
  }
  
  .footer-info, .footer-categories, .footer-address-container {
    min-width: 100% !important;
    flex: 0 0 100% !important;
  }
  
  .footer-social {
    gap: 1.5rem !important;
  }
}